body, html
    font-family: 'Roboto', sans-serif;
    font-size: 14px
    margin: 0px
    padding: 0px

.transition
    -webkit-transition: all 0.3s ease
    webkit-transition: all 0.3s ease

body
    background-color: #f9f9f9

label
    display: block

.shadow
    box-shadow: 1px 7px 16px 1px rgba(0,0,0,0.12);
    -webkit-box-shadow: 1px 7px 16px 1px rgba(0,0,0,0.12);
    -moz-box-shadow: 1px 7px 16px 1px rgba(0,0,0,0.12);

.mtop16
    margin-top: 16px !important

.page
    animation: AnimationName 40s ease infinite;
    align-items: center
    background: linear-gradient(270deg, #00b2ee, #0088b6, #58c5ea);
    background-size: 600% 600%;
    box-sizing: border-box
    display: flex
    justify-content: center
    height: 100vh
    width: 100%
    -webkit-animation: AnimationName 40s ease infinite;
    -moz-animation: AnimationName 40s ease infinite;
    .box
        background-color: #fff
        border-radius: 16px
        padding: 40px
        width: 480px
        .logo
            display: block
            width: 100%
            img
                display: block
                margin: 0px auto
                width: 50%
        h2.title
            color: #2c2c2c
            display: block
            font-size: 1.5em
            font-weight: 500
            margin: 0px
            text-align: center
            padding: 0px
    .group
        margin-top: 4px
        position: relative
        width: 100%
        input
            border: 1px solid #cccccc
            border-radius: 8px
            box-sizing: border-box
            display: block
            padding: 16px
            padding-left: 48px
            width: 100%
            &:focus
                outline: none
                border: 1px solid #00b2ee
        i
            color: #2c2c2c
            position: absolute
            font-size: 1.4em
            top: 13px
            left: 18px
            z-index: 1
    .btn
        background-color: #00b2ee
        border: 1px solid #00b2ee
        border-radius: 8px
        color: #fff
        display: block
        font-size: 1.2em
        font-weight: 600
        padding: 12px
        width: 100%
        &:hover
            background-color: #f7cd4c
            border: 1px solid #f7cd4c
            color: #222

.page_app
    background-color: #fff
    .box
        background-color: transparent !important
        width: 100% !important
        .logo
            img
                width: 60%
        h2.title
            color: #fff !important
    label
        color: #fff !important
    .group
        input
            border: 0px !important;
            &:focus
                border: 0px !important;
        i
            top: 12px
            left: 16px
    .btn
        background-color: #f7cd4c
        border: 0px !important
        color: #222


@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}



