body, html
    font-family: 'Roboto', sans-serif;
    font-size: 14px
    margin: 0px
    padding: 0px

*
    -webkit-transition: all 0.3s ease
    webkit-transition: all 0.3s ease

body
    background-color: #f9f9f9

label
    display: block

.shadow
    box-shadow: 1px 7px 16px 1px rgba(0,0,0,0.12);
    -webkit-box-shadow: 1px 7px 16px 1px rgba(0,0,0,0.12);
    -moz-box-shadow: 1px 7px 16px 1px rgba(0,0,0,0.12);

.mtop16
    margin-top: 16px !important

.page
    align-items: center
    box-sizing: border-box
    display: flex
    justify-content: center
    height: 100vh
    width: 100%
    .box
        background-color: #fff
        border-bottom: 4px solid #00b2ee
        border-radius: 8px
        padding: 32px
        width: 480px
        .logo
            display: block
            width: 100%
            img
                display: block
                margin: 0px auto
                width: 50%
        h2.title
            color: #2c2c2c
            display: block
            font-size: 1.5em
            font-weight: 500
            margin: 0px
            text-align: center
            padding: 0px
    .group
        margin-top: 4px
        position: relative
        width: 100%
        input
            border: 1px solid #cccccc
            border-radius: 8px
            box-sizing: border-box
            display: block
            padding: 16px
            padding-left: 48px
            width: 100%
            &:focus
                outline: none
                border: 1px solid #00b2ee
        i
            color: #2c2c2c
            position: absolute
            font-size: 1.4em
            top: 13px
            left: 18px
            z-index: 1
    .btn
        background-color: #00b2ee
        border: 1px solid #00b2ee
        border-radius: 8px
        color: #fff
        display: block
        font-size: 1.2em
        font-weight: 500
        padding: 12px
        width: 100%
        &:hover
            background-color: #fff
            color: #00b2ee






